<%= form_for @tool do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <p><div class="btn-group">
    <label class="btn">Subject</label>
      <a class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li><%= f.collection_select(:subject_id, @subjects, :id, :name) if @subjects %></li>
          </ul>
  </div></p>


  <p><div class="btn-group">
      <label class="btn">Type</label>
      <a class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <%= f.collection_select(:type_id, @types, :id, :name) if @types %>
           </ul>
  </div></p>

  <%= f.label :level %>
  <%= f.text_field :level %>

  <%= f.label :cost %>
  <%= f.text_field :cost %>


  <%= f.submit "Save", :class => 'btn btn-primary' %>

  <% end %>