

<table class='table'>
  <thead class='tool'>
    <tr>
      <th><%= sortable "subject_id.name", "Subject" %></th>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "location", "Location" %></th>
      <th><%= sortable "type_id", "Type" %></th>
      <th><%= sortable "Level" %></th>
      <th><%= sortable "cost", "Cost" %></th>
      <th></th>
    </tr>
  </thead>
  <% @tools.each do |tool| %>
    <tr>

      <td><%= link_to "#{tool.subject.name}", subject_path(tool.subject.id) %></td>
      <td><%= tool.name %></td>
      <td><%= link_to tool.location, url_with_protocol(tool.location) %></td>
      <td><%= tool.type.name %></td>
      <td><%= tool.level %></td>   
      <td><%= tool.cost %></td>



      <td><%= link_to 'Edit', edit_tool_path(tool.id), :class => 'btn btn-mini' %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Add a Tool', new_tool_path, :class => 'btn btn-primary' %></p>
