<% provide :title, "Edit account" %>

<h2><%= yield :title %></h2>

<%= render :partial => 'layouts/errors', :locals => {:object => resource} %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>

  <div><%= f.label :password %> <i>(only if you wish to change it)</i></div>
  <%= f.password_field :password, :autocomplete => "off" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <div><%= f.label :current_password %> <i>(required to confirm changes)</i></div>
  <%= f.password_field :current_password %>

  <%= f.submit "Update", :class => 'btn btn-success' %>
<% end %>

<%= link_to "Back", :back, :class => 'btn btn-inverse btn-small' %>

<%= link_to "Delete account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-small' %>
