<% provide :title, "Type: #{@type.format}" %>

<table class='table'>
  <thead class='tool'>
    <tr>
      <th><%= "Name" %></th>
      <th><%= "Location" %></th>
      <th><%= "Subject" %></th>
      <th><%= "Level" %></th>
      <th><%= "Cost" %></th>
      <th></th>
    </tr>
  </thead>
  
  <% @tools.each do |tool| %>
    <% if @type.id == tool.type_id %>
    <tr>
      <td><%= tool.name %></td>
      <td><%= link_to tool.location, url_with_protocol(tool.location) %></td>
      <td><%= tool.type.format %></td>
      <td><%= tool.level %></td>   
      <td><%= tool.cost %></td>
   </tr>
      <% end %>
 
  <% end %>

</table>

<p><%= link_to 'Add a Tool', new_tool_path, :class => 'btn btn-primary' %></p>
