<% provide :title, "Terms" %>

<%= button_to "Add a word", new_word_path, :method => "get", :class => 'btn btn-success pull-right' %>    

<table class="table">
  <tr>
    <td><b>Terms</b></td>
    <td><b>Definitions</b></td>
  </tr>
  <% @words.each do |word| %>
    <tr>
      <% if word.definitions.count > 1 %>
        <td><%= link_to word.term, word_path(:id => word.id) %></td>
      <% else %>
        <td><%= word.term %></td>
      <% end %>
      <td><%= word.current_definition %></td>   
      <td><%= link_to "Add a definition", new_definition_path(:word_id => word.id), :class => 'btn btn-success' %></td>
    </tr>
  <% end %>

</table>
